.img-zoom-container {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 30px;
}

.img-zoom-result {
    /* background-image: url("https://cdn.shopify.com/s/files/1/0042/9313/2377/products/6c_bcd7cf5b-406e-4de7-800b-8a7c3f69ba3d.jpg?v=1548820247"); */
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
}

.like-btn {
    color: #999999;
    width: 45px;
    height: 45px;
    border: 2px solid #eaeaea;
    background: transparent;
    transition: ease 0.3s;
}

.like-btn:hover {
    color: white;
    background: #f68872;
    border: 2px solid #f68872;
}

.input-quanity {
    height: 45px;
    position: relative;
    /* width: 45px; */
}

.input-quanity button {
    height: 100%;
    position: absolute;
    background: none;
    border: none;
    outline: none;
    padding: 0 10px;
    opacity: 0.7;
    cursor: pointer;
}

.input-quanity button:first-child {
    left: 0;
}

.input-quanity button:last-child {
    right: 0;
}

.input-quanity input {
    width: 150px;
    height: 100%;
    text-align: center;
    border: 2px solid #eaeaea;
    padding: 0 35px;
    font-weight: bold;
    outline: none;
}

.add-cart-btn {
    width: 200px;
    color: white;
    background: black;
    text-transform: uppercase;
    font-weight: bold;
    height: 45px;
    outline: none;
    border: none;
    transition: ease 0.3s;
}

.add-cart-btn:hover {
    background: #f68872;
}

.buy-now-btn {
    width: 410px;
    color: white;
    background: #1990c6;
    text-transform: uppercase;
    font-weight: bold;
    height: 45px;
    outline: none;
    border: none;
    transition: ease 0.3s;
}

.buy-now-btn:hover {
    background: #157dac;
}

.nav-link {
    border: 1px solid transparent;
}

.nav-link {
    margin: 0 15px;
    padding: 2px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom ease-in 0.3s;
}

.nav-link:hover {
    border-bottom: 2px solid #f68872;
}

.nav-item a {
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #999999;
    transition: color ease-in 0.3s;
}

.nav-item .active {
    color: black;
    border-bottom: 2px solid #f68872;
}


/* define css for slide product */

.slide-related-product {
    width: 100%;
    /* height: 300px; */
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    /* padding-bottom: 10px; */
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: 0px;
}

::-webkit-scrollbar-track {
    background: none;
}

.btn-slide {
    background-color: #f68872 !important;
    color: white;
    transition: ease 0.3s;
    position: absolute;
    top: 45%;
    z-index: 10;
}

.btn-slide:hover {
    background-color: black !important;
}

.img-product {
    width: 100%;
    min-width: 130px;
    min-height: 130px;
    padding-top: 100%;
    position: relative;
    cursor: pointer;
}

.img-product .status {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.img-product img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img-product .features {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: white;
    margin: 0;
    opacity: 0;
    transition: opacity ease-in-out 0.35s;
}

.img-product .features button:first-child {
    text-transform: uppercase;
    /* display: none; */
    transition: color 0.5s;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    padding: 0;
}

.img-product .features p:hover {
    color: #f68872;
}

.img-product .features button {
    right: 10px;
}

.product:hover .img-product .features {
    opacity: 1;
}

.info-product .name {
    font-weight: bolder;
    cursor: pointer;
    /* padding: 10px; */
    font-size: 18px;
    transition: color 0.5s;
    color: black;
    text-decoration: none;
}

.info-product .name:hover {
    color: #f68872;
}

.star-rating {
    margin: 0;
}

.star-rating span i {
    color: #999999;
    display: inline;
    font-size: 12px;
    gap: normal;
    line-height: 32px;
    margin: 0px 1px;
    text-align: left;
    opacity: 0.3;
}

.price {
    color: #999999;
    margin: 0;
    opacity: 1;
}