<div class="text-center">
    <h1 translate>Contact us</h1>
</div>
<div class="container">
    <form class="text-center">

        <div class="form-group">
            <!-- <label for="exampleFormControlTextarea1">Message</label> -->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" [placeholder]="'Enter your message'|translate"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary m-2" translate>Send</button>
            <button class="btn btn-danger m-2" translate>Cancel</button>
        </div>
    </form>

</div>